@import 'custom';

.theme-toggle {
  background-color: transparent;
  border-color: $link-color;
  color: $link-color;

  &:hover {
    background-color: $link-hover-color;
    border-color: $link-hover-color;
    color: white;
  }

  &.active {
    background-color: $link-color;
    color: white;
  }
}

// Dark theme styles
:host-context([data-bs-theme="dark"]) {
  .theme-toggle {
    background-color: transparent;
    border-color: $link-color-dark;
    color: $link-color-dark;

    &:hover {
      background-color: $link-hover-color-dark;
      border-color: $link-hover-color-dark;
      color: white;
    }

    &.active {
      background-color: $link-color-dark;
      color: black;
    }
  }
}